// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public {
  #learn-more {
    float: right;
    .bold-grabber {
      margin-right: 10px;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}
