<% init_component_js "SignUpDialog" %>
<% # Needs a button/link with ID learn-more-button %>
<div id="sign-up-dialog" title="Sparks List" class="hidden">
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDRReElXcWJVdE1FWFVzR2JidmVPbFE6MQ" width="400" height="410" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
