<div class="section">
  <div class="half-width">
    <h1>
      What we do?
    </h1>
    <p>
      We’re developing <strong>events, programs, and products</strong> that inspire and
      help student innovators develop their projects.  We look at challenges
      from <strong>connecting</strong> like-minded students together to
      <strong>teaching</strong> students skills they need to build projects
      both at Stanford and beyond.
      Here are a selection of ideas we’re planning:
    </p>
    <ul>
      <li>
        <strong>Real World Skills Workshops:</strong>
        Bring in students, professors, and engineers to give workshops on
        topics from how to launch websites to the flow of designing
        product interfaces.
      </li>
      <li>
        <strong>Builders Community:</strong>
        Build up a community of student innovators (coders, designers, engineers) who
        can work together on ideas of their own or crowdsourced from the students.
      </li>
      <li>
        <strong>Stanford Resources Database:</strong>
        Create an online database of resources open to student innovators,
        e.g. student groups, supplies, funding etc.
      </li>
    </ul>
  </div>
  <div class="half-width">
    <h1>
      Why we do it?
    </h1>
    <p>
      We believe that building projects you're passionate about is the best way to make <strong>an
      impact on the world</strong>.  Not only do you get to launch your own project and see
      the impact it has, but you also gain the skills and mindset that is incredibly
      useful in <strong>work both inside and outside of Stanford</strong>.
    </p>
    <p>
      However, it’s not easy getting a project off the ground.  Without team members,
      resources, or even a good idea, many projects just end up in the wayside
      never to be seen again.  The goal of Sparks is to remove these barriers and ultimately make it
      <strong>second-nature to students to join or create their own projects</strong>.
    </p>
  </div>
  <div class="clear">
  </div>
</div>
