<% init_page_js "PublicIndex" %>
<div id="header" class="section">
  <h1>
    We help students build great projects
  </h1>
  <h2>
    We're a team of students actively finding ways to make project
    building second-nature to Stanford students
  </h2>
  <div id="learn-more">
    <span class="bold-grabber">
      Interested in building projects?
    </span>
    <button id="learn-more-button" class="action-button">Learn More</button>
  </div>
  <div class="clear"></div>
</div>
<div id="sign-up-dialog" title="Sparks List" class="hidden">
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDRReElXcWJVdE1FWFVzR2JidmVPbFE6MQ" width="400" height="410" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
